deep_translator==1.11.4
gradio==5.5.0
langchain==0.3.7
langchain_chroma==0.1.4
langchain_cohere==0.3.1
langchain_community==0.3.5
langchain_core==0.3.15
langid==1.1.6
python-dotenv==1.0.1


